.mermaid > svg {
  max-width: 100%;
  width: 100%;
}

.theme-dark .entityBox {
  fill: rgb(239, 239, 239) !important;
  stroke: rgb(243, 243, 243) !important;
}
.theme-dark .attributeBoxOdd {
  fill: rgb(226, 226, 226) !important;
  stroke: rgb(243, 243, 243) !important;
}
.theme-dark .attributeBoxEven {
  fill: rgb(239, 239, 239) !important;
  stroke: rgb(243, 243, 243) !important;
}
